@import "../styles.scss";

form {
  display: $displayFlex;
  justify-content: space-evenly;
  width: $width;
  margin: 60px auto;
  gap: 30px;
  padding: 60px 80px 80px 80px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.form-input {
  width: 50%;
}
div label {
  display: block !important;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: $posAbs;
  top: -1.6em;
  width: max-content;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: black;
  transition: ease 0.3s;
}
.input {
  width: $width;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: $width;
  height: 2px;
  background: #bcbcbc;
}

.line {
  position: $posAbs;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #31b1d1;
  transition: ease 0.6s;
}

.input:focus + .line-box .line {
  width: $width;
}

.label-active {
  top: -3em;
  color: #31b1d1;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220, 220, 220);
  font-weight: bold;
  color: rgb(120, 120, 120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background: #8bc34a;
  color: #ffffff;
}
